html {
    margin: 0;
}

body {
    background-color: #222222;
}

.dropdown-toggle {
    text-align: left;
}

.btn:hover {
    background-color: white;
    color: black;
}

.main {
    width: 30rem;
    height: 30rem;
    margin: 15vh auto;
    border-radius: 7.5%;
    background-color: #454545;
    color: white;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.15);
}
